/* Code variables */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --red: #e60b0b;
  --acqua: #a7ebdb;
  --black: #32324d;
  --backgrey: #f1f1f1;
  --redwine: #530F26;
  --activeyellow: #FFB01D;
  --lowyellow: #FFD27F;
  --greyactive: #8E8EA9;
  --greytext: #707070;
  --activelateral: rgba(67, 145, 237, 0.1);
  --grey: #EEF2F5;
  --p_font_size: 14px;
  --inactive_red: #FF7B7B;
  --orange: #FF7B2C;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--redwine); 
  border-radius: 10px;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-y: overlay;
}

/* Header code */
.header{
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  height: auto;
  width: 83%;
  background-color: var(--white);
  top: 0;
}

.header__help-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  margin: 10px;
  stroke: .5px;
}

.header__user-image-menu{
  position:absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.header__user-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  margin: 10px;
}

.header__menu{
  position: absolute;
  right: 0;
  top: 65px;
  width: 150px;
  border-radius: 10%;
  background-color: var(--white);
  margin: 10px; 
  background-color: var(--redwine);
  display: flex;
  flex-direction: column;
}

.header__menu button{
  background-color: var(--redwine);
  border: none;
  color: var(--white);
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  transition: .3s;
}

.header__menu button:hover{
  background-color: var(--backgrey);
  color: var(--white);
}

/* End of Header code */

/* Lateral Nav code */

.lateral-nav{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 0;
  float: left;
  height: 100vh;
  width: 17%;
  background-color: var(--white);
  top: 0;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lateral-nav ul{
  list-style: none;
  width: 100%;
  margin: 0 0 0 -10px;
  padding: 0;
}

.lateral-nav ul li{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
 
.lateral-nav ul li section {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--greytext);
  font-size: .85rem;
  padding: 15px 0 15px 0;
  font-weight: 400;
  transition: .3s;
  height: 100%;
  width: 100%;
}

.lateral-nav ul li section:hover{
  background-color: var(--activelateral);
  cursor: pointer;
  color: var(--black);
  font-weight: 700;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  width: 100%;
  height: 7%;
  margin: 0 0 40px 0;
  padding: 0;
}

.logoContainer h3{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 900;
}

.logo{
  color: var(--redwine);
  fill: var(--redwine);
  height: 3rem;
  width: 3rem;
}

.icons{
  margin: 0 8% 0 20%;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
}

.lateral-nav ul li section p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: medium;
  margin: auto 0 auto 10px;
}

.logout{
  position: absolute;
  bottom: 5%;
  width: 100%;
}

/* End of Lateral Nav code */

/* Main code */

.main-content{
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  width: 83%;
  top: 80px;
}

.categories{
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.categories h1{
  color: var(--black);
  font-size: 2rem;;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.category{
  display: flex;
  flex-direction: row;
  width: 93%;
  margin: auto;
  padding: 0 2% 0 2%;
  position: relative;
  border-radius: 10px;
}

.category:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.categories aside{
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  margin: auto;
  padding: 0 2% 0 2%;
  position: relative;
  position: absolute;
  right: 0;
}

.icon2{
  height: 3rem;
  width: 3rem;
  padding: 1%;
  transition: .5s;
}

.icon2:hover{
  fill: var(--redwine);
}

.all-categories{
  width: 100%;
  margin: auto;
  border: 2px var(--black) solid;
  border-radius: 10px;
  min-height: 70%;
  max-height: 70%;
  overflow-y: auto;
}

.item{
  width: 300px;
  max-width: 300px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid var(--black);
  position: relative;
  border-left: transparent 7px solid;
}

.active{
  border-left: var(--activeyellow) 7px solid;
}

.topItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.item:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.priceTag{
  position: absolute;
  right: 0;
}

.invisible{
  display: none;
}

.it11{
  padding: 10px;
  word-wrap: break-word;
  position: relative;
  height: fit-content;
}

.iconize{
  height: 2rem;
  width: 2rem;
  transition: .5s;
}

.iconize:hover{
  fill: var(--redwine);
}

.addCategoryForm{
  display: flex;
  flex-direction: column;
  top: 0;
  min-height: 70%;
  max-height: 70%;
}

.labelForm{
  font-size: 1.5rem;
  padding: 10px 0;
}

.submitBTN{
  margin: 10px auto;
  height: 45px;
  width: 65%;
  color: var(--white);
  background-color: var(--redwine);
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

.add-category{
  margin: 0;
}

.foodContainer{
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.foodList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  margin: 1%;
}

.foodDetails{
  margin:1% auto;
  padding: 0 2% 0 0;
}

.foodList h1, .foodDetails h1{
  color: var(--black);
  font-size: 2rem;;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.add-food{
  display: flex;
  flex-direction: column;
  top: 0;
  min-height: 70%;
  max-height: 70%;
}

.addFoodForm{
  display: flex;
  flex-direction: column;
  top: 0;
  left:0;
  margin: 10px;
  min-height: 70%;
  max-height: 70%;
}

.addFoodForm input{
  margin: 10px 0;
  height: 30px;
  width: 90%;
  border: 2px solid var(--redwine);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  transition: .5s;
}

.addFoodForm select{
  margin: 10px 0;
  height: 30px;
  width: 90%;
  border: 2px solid var(--redwine);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  transition: .5s;
}

.addFoodForm button{
  margin: 20px auto;
  height: 50px;
  width: 65%;
  color: var(--white);
  background-color: var(--redwine);
  border: 2px solid var(--white);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  transition: .5s;
}

/* End of Main code */

/* Login code */

.authContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.authContainer h1{
  font-size: 2rem;
  padding: 10px 10px 0 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 700;
  font-size: 26pt;
}

.authContainer hr{
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid var(--white);
}

.authForm{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authForm label{
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 600;
  margin: 10px 0;
}

.authForm input{
  border-radius: 10px;
  border: 2px solid var(--white);
  padding: 5px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: transparent;
}

.authForm input:focus{
  outline: none;
}

.authForm button{
  margin: 20px auto;
  height: 50px;
  width: 65%;
  color: var(--white);
  background-color: var(--redwine);
  border: 2px solid var(--white);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  transition: .5s;
}

.loginSection, .signupSection, .googleSection{
  margin: 200px 2%;
  border: 2px solid var(--black);
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--activeyellow);
}

/* End of Login code */

/* Start of 404 code */

.fof{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  margin-top: 80px;
  margin-left: 20%;
  padding: 20px 0 20px 0;
  top: 0;
  z-index: 1;
  border: 3px solid var(--redwine);
  border-radius: 30px;
  transition: .3s;
  color: var(--redwine);
}

.fof h1{
  font-size: 10rem;
  color: var(--redwine);
  font-weight: 700;
  font-size: 35pt;
}

.ice{
  height: 200px;
  width: 200px;
  margin: 0;
  padding: 0;
  color: var(--redwine);
}

.fof:hover{
  cursor: pointer;
  background-color: var(--redwine);
  color: var(--white);
  fill: var(--white);
}

.fof:hover .ice{
  color: var(--white);
}

.fof:hover h1{
  color: var(--white);
}

/* End of 404 code */

/* Start of Coming Soon code */

.soon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 59%;
  margin-top: 5px;
  margin-left: 20%;
  padding: 20px 0 20px 0;
  top: 0;
  z-index: 1;
  border: 3px solid var(--redwine);
  transition: .3s;
  padding: 20px;
  line-height: 1.4;
  overflow-y: auto;
  border-radius: 10px;
}

.soon div{
  height: 60vh;
}

.soon h1{
  font-size: 50pt;
  font-weight: 700;
}

.soon aside{
  font-size: 20pt;
}

.soon p{
  padding: 20px;
  margin-left: 10%;
}

.soon h2{
  font-size: 30pt;
  font-weight: 700;
}

/* End of Coming Soon code */

/* Start of active code */

.activeItem{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  max-width: 280px;
  margin-top: 5px;
  padding: 20px 0 20px 0;
  top: 0;
  border: 3px solid var(--redwine);
  line-height: 1.4;
  overflow-y: auto;
  border-radius: 10px;
}

/* End of active code */


/* Loading code */

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.svg{
  width: 150px;
  height: 150px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.svg circle{
  background-color: red;
  width: 1em;
  height: 1em;
  fill: none;
  stroke-width: 10;
  stroke: var(--redwine);
  stroke-linecap: round;
  transform:translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: circular 4s linear infinite;
  z-index: 100;
}

@keyframes circular{
  0%, 100%{
    stroke-dashoffset: 440;
  }
  50%{
    stroke-dashoffset: 0;
  }
  50.1%{
    stroke-dashoffset: 880;
  }
}
/* End of Loading code */