/* Code variables */
:root {
  --black: #000000;
  --blue: #1e90ff;
  --white: #ffffff;
  --green: #2ff21d;
  --orange: #fc3d03;
  --red: #e60b0b;
  --acqua: #a7ebdb;
  --senape: #fcba03;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Header code */
.header{
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  height: auto;
  width: 93%;
  background-color: var(--blue);
  top: 0;
}
.header h1{
  color: var(--white);
  font-size: 2rem;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header h3{
  color: var(--white);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__user-image-menu{
  position:absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.header__user-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  margin: 10px;
}

.header__menu{
  position: absolute;
  right: 0;
  top: 65px;
  width: 150px;
  border-radius: 10%;
  background-color: var(--white);
  margin: 10px; 
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
}

.header__menu button{
  background-color: var(--orange);
  border: none;
  color: var(--white);
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  transition: .3s;
}

.header__menu button:hover{
  background-color: var(--blue);
  color: var(--white);
}

/* End of Header code */

/* Lateral Nav code */

.lateral-nav{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  float: left;
  min-height: 100vh;
  height: fit-content;
  width: 7%;
  background-color: var(--black);
  top: 0;
}

.lateral-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.lateral-nav ul li{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
 
.lateral-nav ul li section {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white);
  font-size: 1.01rem;
  padding: 10px;
  font-weight: 400;
  transition: .3s;
  margin: auto;
}

.lateral-nav ul li section:hover{
  color: var(--orange);
  fill: var(--orange);
}

.icons{
  margin: 0;
  padding: 0;
  margin: auto;
}

p{
  margin: 0;
  padding: 0;
  margin: auto;
}
/* End of Lateral Nav code */

/* Main code */

.main-content{
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  width: 93%;
  top: 0;
}

.categories{
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.categories h1{
  color: var(--black);
  font-size: 2rem;;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.category{
  display: flex;
  flex-direction: row;
  width: 93%;
  margin: auto;
  padding: 0 2% 0 2%;
  position: relative;
  border-radius: 10px;
}

.category:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.categories aside{
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  margin: auto;
  padding: 0 2% 0 2%;
  position: relative;
  position: absolute;
  right: 0;
}

.icon2{
  height: 3rem;
  width: 3rem;
  padding: 1%;
  transition: .5s;
}

.icon2:hover{
  fill: var(--orange);
}

.all-categories{
  width: 100%;
  margin: auto;
  border: 2px var(--black) solid;
  border-radius: 10px;
  min-height: 70%;
  max-height: 70%;
  overflow-y: auto;
}

.item{
  width: 300px;
  max-width: 300px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid var(--black);
  position: relative;
  border-left: transparent 7px solid;
}

.active{
  border-left: var(--green) 7px solid;
}

.topItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.item:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.priceTag{
  position: absolute;
  right: 0;
}

.invisible{
  display: none;
}

.it11{
  padding: 10px;
  word-wrap: break-word;
  position: relative;
  height: fit-content;
}

.iconize{
  height: 2rem;
  width: 2rem;
  transition: .5s;
}

.iconize:hover{
  fill: var(--orange);
}

.addCategoryForm{
  display: flex;
  flex-direction: column;
  top: 0;
  min-height: 70%;
  max-height: 70%;
}

.labelForm{
  font-size: 1.5rem;
  padding: 10px 0;
}

.submitBTN{
  margin: 20px auto;
  height: 50px;
  width: 65%;
  color: var(--white);
  background-color: var(--orange);
  border: 2px solid var(--white);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  transition: .5s;
}

.submitBTN:hover{
  background-color: var(--blue);
}

.add-category{
  margin: 0;
}

.foodContainer{
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.foodList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  margin: 4%;
}

.foodDetails{
  margin: 4%;
  padding: 0 2% 0 2%;
}

.foodList h1, .foodDetails h1{
  color: var(--black);
  font-size: 2rem;;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* End of Main code */

/* Login code */

.authContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.authContainer h1{
  font-size: 2rem;
  padding: 10px 10px 0 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 700;
  font-size: 26pt;
}

.authContainer hr{
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid var(--white);
}

.authForm{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authForm label{
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 600;
  margin: 10px 0;
}

.authForm input{
  border-radius: 10px;
  border: 2px solid var(--white);
  padding: 5px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: transparent;
}

.authForm input:focus{
  outline: none;
}

.authForm button{
  margin: 20px auto;
  height: 50px;
  width: 65%;
  color: var(--white);
  background-color: var(--orange);
  border: 2px solid var(--white);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  transition: .5s;
}

.loginSection, .signupSection, .googleSection{
  margin: 200px 2%;
  border: 2px solid var(--black);
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--senape);
}

/* End of Login code */