/* Code variables */
:root {
  --black: #32324d;
  --backgrey: #E5E5E5;
  --white: #ffffff;
  --orange: #FF7B2C;
  --redwine: #530F26;
  --activeyellow: #FFB01D;
  --lowyellow: #FFF2EA;
  --greyactive: #8E8EA9;
  --yellowopac: rgba(255, 176, 29, 0.29);
}
/* End of code variables */

.App {
  text-align: center;
}

/* Home page code */

.homeDiv{
  text-align: center;
}

.homeDiv h1{
  font-size: 5rem;
  font-weight: 700;
  color: var(--redwine);
  width: 100%;
  padding: 20px 0 10px 0;
}

.homeDiv p{
  font-size: 1rem;
  font-weight: 300;
}

/* End of home page code */

/* Header code */

.header { 
  color: var(--black);
  height: 50px;
  padding: 12px;
}

.header h1{
  font-size: 22px;
  font-weight: medium;
}

/* End of header code */

/* Category code */
.parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parent aside img{
  width: 40px;
  margin-left: 10px;
  height: 40px;
}

.categories{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 10;
  padding: 8px;
  background-color: var(--backgrey);
}

.emptyButton{
  background-color: var(--redwine);
  padding: 10px;
  height: 35px; 
  width: 7%;
  margin-left: 2%;
  border-radius: 20px;
}

.categories::-webkit-scrollbar-track {
  background-color: var(--white);
}

.categories::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.categories::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #737272;
}

.smallButton {
  color: var(--white);
  background-color: var(--redwine);
  padding: 15px 20px;
  text-align: center;
  max-width: 300px;
  border: none;
  border-radius: 20px;
  transition: 1s;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 5px;
  min-width: 130px;
}

#activeSmallButton{
  background-color: var(--activeyellow);
}

.separator{
  width: 90%;
  border: var(--black) .7px solid;
  margin: auto;
  margin-top: 15px;
}

/* End of category code */

/* Products code */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.noProducts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.empty{
  border: 2px var(--redwine) solid ;
  border-radius: 20px;
  padding: 20px;
  color: var(--white);
  background-color: var(--redwine);
  width: 80%;
  height: fit-content;
}

/* End of products code */

/* Items code */
.item{
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--white);
  color: var(--white);
  padding: 5px;
  border-radius: 20px;
  width: 90%;
  height: fit-content;
  min-height: 140px;
  margin:10px auto;
  color: var(--black);
  align-items: center;
}

.itemTextSpan{
  display: flex;
  flex-direction: column;
  width: 70%;
  overflow-wrap: break-word;
}

.itemDescription{
  max-width: 78%;
  overflow-wrap: break-word;
}

.item p{
  font-size: .8rem;
  font-weight: 400;
  color: var(--greyactive);
}

.foodIcon{
  height: 80%;
  margin: 0 8px;
}

.price{
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--activeyellow);
}

.ordination{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 10%;
}

.ordination input {
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.ordination button{
  border: none;
  border-radius: 100px;
  padding: 5px;
  background-color: var(--lowyellow);
  color: var(--activeyellow);
  font-size: 1.2rem;
  font-weight: 700;
}

/* End of items code */

/* Initial form code */

.initialForm{
  margin: 50px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.initialFormButton{
  margin: 50px 0;
}

.submission{
  margin: 30px;
  border: var(--orange) 2px solid;
  border-radius: 20px;
  background-color: var(--orange);
  color: var(--white);
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 800;
  transition: 1s;
}

.submission:hover{
  background-color: var(--white);
  color: var(--orange);
}

.brings{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.brings p{
  margin: 5px 5% 0 5%;
  font-size: 12pt;
}

.enterN{
  margin: 50px 0;
  width:80%;
  margin: 10px auto;
  font-size: 15pt;
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--black);
  border-radius: 5px;
  font-weight: 700;
  background-color: var(--white);
  transition: .5s;
}

.enterN:focus{
  outline: none;
  border-bottom: 5px solid var(--black);
}

.labelsN{
  font-size: 15pt;
  font-weight: 700;
  margin: 60px 10% 0 10%;
  width: 80%;
}

/* End of initial form code */

/* Four Oh Four code */
.error_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100%;
}

.f0f{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: var(--redwine);
}

.error404{
  font-size: 10rem;
  font-weight: 700;
  color: var(--redwine);
}

/* End of Four Oh Four code */

/* Middle Page code */

.middlePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

.middlePage h1{
  font-size: 3rem;
  font-weight: 700;
  padding: 10px;
  width: 80%;
  text-align: center;
}

.middlePage p{
  font-size: 1.3rem;
  font-weight: 500;
}

.middlePage img{
  width: 50%;
  padding: 10px;
  margin: 50px 0 20px 0;
}

.middleImage{
  margin: auto;
}

.bigButton{
  background-color: var(--redwine);
  color: var(--white);
  padding: 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  width: 50%;
  border: none;
}

.longButton{
  background-color: var(--redwine);
  color: var(--white);
  padding: 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  width: 90%;
  border: none;
  margin-top: 10px;
}

/* End of Middle Page code */

/* Order section code */

.orderSection{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  position:fixed;
  bottom: 0;
  transition: .5s;
  background-color: var(--white);
  border-radius: 30px 30px 0 0;
  z-index: 100;
  height: 90px;
  overflow: hidden;
}

.open{
  height: 100%;
  overflow-y: auto;
}

.orderSection ol{
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
}

.total{
  background-color: var(--activeyellow);
  color: var(--white);
  padding: 15px;
  border-radius: 20px;
  font-size: 1.3rem;
  width: 90%;
  border: none;
  font-weight: medium;
  margin-top: 10px;
}
/* End of Order section code */

/* Loading code */

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.svg{
  width: 150px;
  height: 150px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.svg circle{
  background-color: red;
  width: 1em;
  height: 1em;
  fill: none;
  stroke-width: 10;
  stroke: var(--redwine);
  stroke-linecap: round;
  transform:translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: circular 4s linear infinite;
  z-index: 100;
}

@keyframes circular{
  0%, 100%{
    stroke-dashoffset: 440;
  }
  50%{
    stroke-dashoffset: 0;
  }
  50.1%{
    stroke-dashoffset: 880;
  }
}
/* End of Loading code */

/* PopUp code */

.assurance{
  position: absolute;
  top: 27%;
  left: 2%;
  background-color: var(--white);
  border: 3px solid var(--redwine);
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  height: fit-content;  
}

.assurance h2{
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.assurance p{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--greyactive);
}

.assurance aside{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End of PopUp code */

/* Confirmation page */

.confirmPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  height: 80vh;
  width: 100%;
}

.confirmPage h2{
  font-size: 26px;
  color: var(--activeyellow);
  font-weight: 700;
}

.confirmPage h3{
  font-size: 26px;
  color: var(--black);
  font-weight: 700;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.confirmImage{
  width: 80%;
}

/* End of Confirmation page */

/* Note Popup */

.note-popup{
  width: 80%;
  height: fit-content;
  position: absolute;
  top: 200px;
  left: 10%;
  background-color: var(--white);
  border-radius: 20px;
  border: 2px solid var(--redwine);
  z-index: 100;
  text-align: center;
  padding: 20px 0;
}

.note-popup textarea {
  width: 90%;
  height: 80%;
  min-height: 100px;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;  
} 

/* End of Note Popup */