/* Code variables */
:root {
  --black: #000000;
  --blue: #1e90ff;
  --backgrey: #f1f1f1;
  --white: #ffffff;
  --orange: #fc3d03;
  --acqua: #a7ebdb;
  --redwine: #6b0909;
  --activebutton: #f4890f;
  --secondary: #a9a9a9;
}
/* End of code variables */

.App {
  text-align: center;
  font-family: 'Merriweather', serif;
}

/* Home page code */

.homeDiv{
  text-align: center;
}

.homeDiv h1{
  font-size: 5rem;
  font-weight: 700;
  color: var(--redwine);
  width: 100%;
  padding: 20px 0 10px 0;
}

.homeDiv p{
  font-size: 1rem;
  font-weight: 300;
}

/* End of home page code */

/* Header code */

.header { 
  color: var(--black);
  height: 60px;
  padding: 12px;
}

/* End of header code */

/* Category code */

.categories{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 50px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 10;
  padding: 8px;
  background-color: var(--backgrey);
}

.categories::-webkit-scrollbar-track {
  background-color: var(--white);
}

.categories::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.categories::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #737272;
}

.smallButton {
  color: var(--white);
  background-color: var(--redwine);
  height: 50px;
  padding: 15px 20px;
  width: 100%;
  border: none;
  border-radius: 20px;
  transition: 1s;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 5px;
}

#activeSmallButton{
  background-color: var(--activebutton);
}

.categoryTitle {
  font-size: 1.5rem;
  color: var(--black);
  margin-left: 30px;
}
/* End of category code */

/* Products code */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.empty{
  border: 2px var(--redwine) solid ;
  border-radius: 20px;
  padding: 20px;
  color: var(--white);
  background-color: var(--redwine);
}

/* End of products code */

/* Items code */
.item{
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--white);
  color: var(--white);
  padding: 5px;
  border-radius: 20px;
  width: 90%;
  height: 130px;
  margin:10px auto;
  color: var(--black);
  align-items: center;
}

.item p{
  font-size: .8rem;
  font-weight: 400;
  color: var(--secondary);
}

.foodIcon{
  height: 80%;
  margin: 0 8px;
}

.price{
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--activebutton);
}

.ordination{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 10%;
}

.ordination input {
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.ordination button{
  border: none;
  border-radius: 100px;
  padding: 5px;
  background-color: var(--activebutton);
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 700;
}

.cartIcon{
  position: fixed;
  bottom: 80px;
  right: 30px;
  font-size: 35px;
  background-color: var(--redwine);
  color: var(--white);
  padding: 15px;
  border-radius: 20px;
}
/* End of items code */

/* Footer code */
.footer{
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
}

.footer a{
  color: var(--white);
}

/* End of footer code */

/* Initial form code */

.initialForm{
  margin: 50px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.initialFormButton{
  margin: 50px 0;
}

.submission{
  margin: 30px;
  border: var(--orange) 2px solid;
  border-radius: 20px;
  background-color: var(--orange);
  color: var(--white);
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 800;
  transition: 1s;
}

.submission:hover{
  background-color: var(--white);
  color: var(--orange);
}

.brings{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.brings p{
  margin: 5px 5% 0 5%;
  font-size: 12pt;
}

.enterN{
  margin: 50px 0;
  width:80%;
  margin: 10px auto;
  font-size: 15pt;
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--black);
  border-radius: 5px;
  font-weight: 700;
  background-color: var(--white);
  transition: .5s;
}

.enterN:focus{
  outline: none;
  border-bottom: 5px solid var(--black);
}

.labelsN{
  font-size: 15pt;
  font-weight: 700;
  margin: 60px 10% 0 10%;
  width: 80%;
}

/* End of initial form code */

/* Four Oh Four code */
.error_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100%;
}

.f0f{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: var(--redwine);
}

.error404{
  font-size: 10rem;
  font-weight: 700;
  color: var(--redwine);
}

/* End of Four Oh Four code */

/* Middle Page code */

.middlePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  height: 80vh;
  width: 100%;
}

.middlePage h1{
  font-size: 3rem;
  font-weight: 700;
}

.middlePage p{
  font-size: 1.3rem;
  font-weight: 500;
}

.bigButton{
  background-color: var(--redwine);
  color: var(--white);
  padding: 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  width: 50%;
  border: none;
}

/* End of Middle Page code */