.dashboardWrapper{
    display: flex;
    flex-direction: row;
}

.qrSection{
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin: 20px;
    padding: 1px;
    background-color: var(--backgrey);
    border-radius: 20px;
}

.dashboardWrapper h2, .dashboardWrapper h3{
    color: var(--redwine);
}

.news{
    padding: 20px;
    margin: 30px;
    background-color: var(--backgrey);
    border-radius: 20px;
}

.news aside{
    margin: 5px;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--white);
}