/* Start of general menu code */

.topHeading{
    font-size: 29px;
    font-weight: medium;
    margin: 0 0 0 20px;
}

.menu-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5rem;
    padding: 10px;
    margin: 10px;
    height: 78vh;
}

.create-items{
    height: 78vh;
    display: grid;
    row-gap: .5rem;
}

.greyBox{
    background-color: var(--grey);
    border-radius: 10px;
    padding: 0;
    overflow-y: overlay;
    position: relative;
    z-index: 10;
}

.greyBox p {
    font-size: var(--p_font_size);
    font-weight: medium;
    margin: 15px;
}

.header_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 10px;
    position: relative;
}

.searchContainer{
    position: absolute;
    right: 0;
    padding: 0;
    margin: 10px 0 0 0;
    width: 50%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.searchBar{
    font-size: var(--p_font_size);
    font-weight: medium;
    background-color: transparent;
    width: 60%;
    height: 30px;
    border: none;
    margin: 0;
}

.searchBar:focus{
    outline: none;
}

.searchIcon{
    width: 14px;
    height: 14px;
    margin: 0 0 0 10px;
}

.createBox{
    background-color: var(--grey);
    width: 100%;
    border-radius: 10px;
    padding: 0;
}

.createBox p{
    margin: 10px;
}

.modifyCategory{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.plusIcon{
    padding: 15px;
}

.category{
    background-color: var(--white);
    margin-top: 10px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    z-index: 10; 
    overflow-x: hidden;
}

.alwaysActiveCategory{
    display: flex;
    flex-direction: row;
}

.category:hover{
    background-color: var(--activelateral);
}

.dragIcon{
    width: 25px;
    height: 25px;
    margin: 12px 0 0 0;
}

.dragIcon:hover{
    cursor: grab;
}

.activeCategory{
    background-color: var(--activelateral);
    align-items: center;
    justify-content: center;
}

.category aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    overflow-y: auto;
}

.category aside img{
    width: 80%;
    margin: 5px;
    padding: 7px 2px 7px 2px;
}  

.iconModifier{
    width: 40%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.changeCategoryIcon{
    background-color: var(--redwine);
    width: 55%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow-y: auto;
    height: 140px;
    padding: 0;
    margin: 0;
}

.hideIcon{
    border-radius: 16px;
    padding: 5px;
    width: 20%;
    height: 80%;
    color: var(--black);
}

.deleteIcon{
    border-radius: 16px;
    background-color: var(--white);
    padding: 5px;
    width: 20%;
    height: 80%;
    color: var(--redwine);
}

.bottomButton{
   position: relative;
    bottom: 0px; 
    margin-left:15%;
    z-index: 1;
}  

.itemOn{
    background-color: var(--activelateral);
    width: 90%;
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.smallP{
    color: var(--greytext);
}

.onElement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editIcon{
    width: 25px;
    height: 25px;
    margin: 0 25px 0 0;
}

.iconsChoice{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    max-height: 130px;
    overflow-y: auto;
    background-color: var(--white);
    border-radius: 10px;
}

.foodIcon{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

#categoryProblem1, #categoryProblem2, #categoryProblem3, #categoryProblem4,
#categoryProblem5, #categoryProblem6, #categoryProblem7, #categoryProblem8 {
    display: none;
    font-size: smaller;
    color: var(--redwine);
    margin: 0;
    padding: 0;
}

#hidden{
    background-color: var(--inactive_red);
}

.editItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

.editItem form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.confirmationButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Form code unified */

.generalForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    letter-spacing: -0.5px;
    font-weight: medium;
    font-size: var(--p_font_size);
    width: 100%;
}

.generalForm button{
    background-color: var(--redwine);
    color: var(--white);
    border: none;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto 1px auto;
    min-height: 30px;
    font-weight: 600;
}

.generalForm input{
    width: 90%;
    margin: 0 auto 5px auto;
    padding: 7px 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
    color: var(--black);
}

.generalForm label{
    margin: 2px 0 0 5%;
    font-size: 13px;
}

.generalForm input:focus{
    outline: none;
}

.generalForm textarea{
    width: 90%;
    min-width: 90%;
    margin: 0 auto 10px auto;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
    color: var(--black);
    resize: none;
}

.generalForm textarea:focus{
    outline: none;
}

.generalForm select{
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

/* End of form code unified */

/* Hide and delete category code */

.hideAndDelete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 5px 0;
    font-size: var(--p_font_size);
    text-align: center;
}

.hideAndDelete button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 2px;
    padding: 5px;
    border: none;
    color: var(--white);
    background-color: var(--redwine);
}

.hideAndDelete p{
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
}

/* End of hide and delete category code */

/* cursor: move; */
/* End of general menu code */

.donePopup{
    position: absolute;
    top: -7vh;
    left: 25vw;
    height: 15vh;
    width: 25vw;
    background-color: var(--black);
    opacity: 0.5;
    border: 2px solid var(--white);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
}
 
.doneLogin{
    position: absolute;
    top: 17vh;
    left: 35vw;
    height: 25vh;
    width: 30vw;
    background-color: var(--black);
    opacity: 0.5;
    z-index: 99;
}

.donePopup h3{
    color: var(--white);
    font-size: 1.3em;
}

.doneicon{
    fill: var(--white);
    width: 50px;
    height: 50px;
    margin: 3% auto 0 auto;
}

.alert-hidden {
    opacity: 0;
    transition: all 250ms linear 1s;
}