/* Start of general menu code */

.topHeading{
    font-size: 29px;
    font-weight: medium;
    margin: 0 0 0 20px;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 20px;
}

.menu{
    height: 75vh;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-items{
    width: 30%;
    height: 100px;
    margin: 0;
    padding: 0;
}

.greyBox{
    background-color: var(--grey);
    width: 48%;
    border-radius: 10px;
    padding: 0;
    overflow-y: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.greyBox p {
    font-size: var(--p_font_size);
    font-weight: medium;
    margin: 15px;
}

.header_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 10px;
    position: relative;
}

.searchContainer{
    position: absolute;
    right: 0;
    padding: 0;
    margin: 10px 0 0 0;
    width: 50%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.searchBar{
    font-size: var(--p_font_size);
    font-weight: medium;
    background-color: transparent;
    width: 60%;
    height: 30px;
    border: none;
    margin: 0;
}

.searchBar:focus{
    outline: none;
}

.searchIcon{
    width: 14px;
    height: 14px;
    margin: 0 0 0 10px;
}

.createBox{
    background-color: var(--grey);
    width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.creationForms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
}

.creationForms p {
    font-size: var(--p_font_size);
    font-weight: medium;
    margin: 0;
}

.plusIcon{
    padding: 15px;
}

.category{
    background-color: var(--white);
    margin-top: 10px;
    width: 87%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.alwaysActiveCategory{
    display: flex;
    flex-direction: row;    
}

.category:hover{
    background-color: var(--activelateral);
}

.dragIcon{
    width: 25px;
    height: 25px;
    margin: 12px 0 0 0;
}

.activeCategory{
    background-color: var(--activelateral);
    padding: 10px;
}

.category aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.category aside img{
    width: 80%;
    margin: 5px;
    padding: 7px 2px 7px 2px;
}

.category aside button{
    background-color: var(--redwine);
    color: var(--white);
    padding: 7px;
    border-radius: 20px;
    font-size: 14px;
    width: 95%;
    height: 32px;
    border: none;
    margin: 3px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconModifier{
    width: 45%;
    margin: 12px 0 0 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.manageCategory{
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.hideIcon{
    border-radius: 16px;
    background-color: var(--inactive_red);
    padding: 5px;
    width: 20%;
    height: 80%;
    color: var(--black);
}

.deleteIcon{
    border-radius: 16px;
    background-color: var(--white);
    padding: 5px;
    width: 20%;
    height: 80%;
    color: var(--redwine);
}

.bottomButton{
   position: relative;
    bottom: 0px; 
    margin-left:15%;
    z-index: 1;
}  

.itemOn{
    background-color: var(--activelateral);
    margin-top: 10px;
    width: 87%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.priceP{
    color: var(--orange);
    font-size: var(--p_font_size);
    font-weight: 800;
}

.onElement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.editIcon{
    width: 25px;
    height: 25px;
    margin: 0 25px 0 0;
}


/* cursor: move; */
/* End of general menu code */