/* Start of general menu code */

.topHeading{
    font-size: 29px;
    font-weight: medium;
    margin: 0 0 0 20px;
}

.menu-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5rem;
    padding: 10px;
    margin: 10px;
    height: 78vh;
}

.create-items{
    height: 78vh;
    display: grid;
    row-gap: .5rem;
}

.greyBox{
    background-color: var(--grey);
    border-radius: 10px;
    padding: 0;
    overflow-y: overlay;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.greyBox p {
    font-size: var(--p_font_size);
    font-weight: medium;
    margin: 15px;
}

.header_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 10px;
    position: relative;
}

.searchContainer{
    position: absolute;
    right: 0;
    padding: 0;
    margin: 10px 0 0 0;
    width: 50%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.searchBar{
    font-size: var(--p_font_size);
    font-weight: medium;
    background-color: transparent;
    width: 60%;
    height: 30px;
    border: none;
    margin: 0;
}

.searchBar:focus{
    outline: none;
}

.searchIcon{
    width: 14px;
    height: 14px;
    margin: 0 0 0 10px;
}

.createBox{
    background-color: var(--grey);
    width: 100%;
    border-radius: 10px;
    padding: 0;
}

.createBox p{
    margin: 10px;
}

.creationForms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 15px 0 15px;
}

.plusIcon{
    padding: 15px;
}

.category{
    background-color: var(--white);
    margin-top: 10px;
    width: 90%;
    height: fit-content;
    max-height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10; 
    padding: 2px;
}

.alwaysActiveCategory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category:hover{
    background-color: var(--activelateral);
}

.dragIcon{
    width: 25px;
    height: 25px;
    margin: 12px 0 0 0;
}

.dragIcon:hover{
    cursor: grab;
}

.activeCategory{
    background-color: var(--activelateral);
    align-items: center;
    justify-content: center;
}

.category aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    overflow-y: auto;
    max-height: 240px;
}

.category aside img{
    width: 80%;
    margin: 5px;
    padding: 7px 2px 7px 2px;
}

.category aside button{
    background-color: var(--redwine);
    color: var(--white);
    padding: 7px;
    border-radius: 20px;
    font-size: 14px;
    width: 95%;
    height: 32px;
    border: none;
    margin: 3px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconModifier{
    width: 40%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.manageCategory{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}

.changeCategoryIcon{
    background-color: var(--redwine);
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow-y: auto;
    height: 140px;
    padding: 0;
    margin: 0;
}

.hideIcon{
    border-radius: 16px;
    padding: 5px;
    width: 20%;
    height: 80%;
    color: var(--black);
}

.deleteIcon{
    border-radius: 16px;
    background-color: var(--white);
    padding: 5px;
    width: 20%;
    height: 80%;
    color: var(--redwine);
}

.bottomButton{
   position: relative;
    bottom: 0px; 
    margin-left:15%;
    z-index: 1;
}  

.itemOn{
    background-color: var(--activelateral);
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.priceP{
    color: var(--orange);
    font-size: var(--p_font_size);
    font-weight: 800;
}

.onElement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.editIcon{
    width: 25px;
    height: 25px;
    margin: 0 25px 0 0;
}

.creationInput{
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: var(--p_font_size);
    margin: 2px 0 2px 0;
    box-shadow: 0 2px 5px 0px var(--greytext);
}

.creationInput:focus{
    outline: none;
}

.iconsChoice{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    max-height: 130px;
    overflow-y: auto;
    background-color: var(--white);
    border-radius: 10px;
}

.foodIcon{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

#categoryProblem1, #categoryProblem2, #categoryProblem3, #categoryProblem4,
#categoryProblem5, #categoryProblem6, #categoryProblem7, #categoryProblem8 {
    display: none;
    font-size: smaller;
    color: var(--redwine);
    margin: 0;
    padding: 0;
}

.selectionCategory{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.modifyCategory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
}

.modifyCategory input {
    width: 80%;
    border-radius: 5px;
    border: none;
    margin: 5px 0 5px 0;
    font-size: var(--p_font_size);
    padding: 2px;
    box-shadow: 0 2px 5px 0px var(--greytext);
}

.modifyCategory textarea{
    width: 80%;
    border-radius: 5px;
    border: none;
    margin: 5px 0 5px 0;
    font-size: var(--p_font_size);
    padding: 2px;
    box-shadow: 0 2px 5px 0px var(--greytext);box-shadow: 0 2px 5px 0px var(--greytext);   
}

.modifyCategory input:focus{
    outline: none;
}

.modifyCategory textarea:focus{
    outline: none;
}

#hiddenCategory{
    background-color: var(--inactive_red);
}

/* cursor: move; */
/* End of general menu code */