/* Products code */
.planContainer{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1.3fr .7fr ;
    grid-gap: 10px;
}

.secondContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
} 

.checkoutForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 5px;
    height: fit-content;
    padding: 10px 0 ;
}

.checkoutSummary{
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    justify-content: center;
}

.checkoutSummaryList{
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

