/* Products code */
.planContainer{
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: 1.3fr .7fr ;
    grid-gap: 10px;
}

.secondContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
} 

.checkoutForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    position: relative;
    min-height: 92vh;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 10px 0;
}

.checkoutForm2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50vw;
    position: absolute;
    bottom: 0;
    left: 20px;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 5px;
    height: fit-content;
    padding: 10px 0;
}

.checkoutSummary{
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: 70%;
    align-items: center;
}

.checkoutSummaryList{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    list-style-type: none;
    max-height: 65vh;
    overflow-y: auto;
}

.product{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
}

.product h2{
    font-weight: bold;
}

.total{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}