/* Products code */
.planContainer{
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: 1.3fr .7fr ;
    grid-gap: 10px;
    position: relative;
    height: fit-content;
}

.secondContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
} 

.checkoutForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    position: relative;
    min-height: 92vh;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: var(--border-radius-fix);
    padding: 10px 0;
}

.checkoutForm2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 20px;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: var(--border-radius-fix);
    height: fit-content;
    padding: 10px 0;
    width: calc(100% - 40px);
}

.checkoutForm2 > *{
    margin: 10px 12%;
}

.checkoutSummary{
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: 70%;
    align-items: center;
}

.checkoutSummaryList{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    list-style-type: none;
    max-height: 65vh;
    overflow-y: auto;
}

.provaGratis{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black);
    border-radius: var(--border-radius-fix);
    padding: 10px 0;
    width: 100%;
    background-color: var(--primary-color);
}

.provaGratis h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--bg-color);
}

.provaGratis h3{
    font-weight: 100;
    color: var(--bg-color);
}

.provaGratis p{
    font-size: 10pt;
    font-weight: 100;
    color: var(--bg-color);
}

.provaGratis > * {
    margin: 10px 2rem;
}

.product{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black);
    border-radius: var(--border-radius-fix);
    padding: 10px 0;
    width: 100%;
}

.product > * {
    margin: 0 auto;
}

.product h2{
    font-weight: bold;
}

.product p{
    margin: 10px 20px;
    letter-spacing: .3px;
}

.total{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}